server:
  port: 8080

spring:
  application:
    name: snapstock
  jpa:
    open-in-view: false
    properties:
      hibernate:
        default_batch_fetch_size: 100
  datasource:
    hikari:
      maximum-pool-size: 10
      minimum-idle: 5
      connection-timeout: 3000
      max-lifetime: 1800000
      idle-timeout: 600000
      leak-detection-threshold: 30000

management:
  endpoints:
    web:
      exposure:
        include: health, metrics, info
  endpoint:
    health:
      show-details: when-authorized
